doctype html
html
  head
    title Crescent City Soccer Waiver App
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
      h2 Running version 1.0
      a(href="/auth/facebook") Login with Facebook
      p Only admins will be able to see content on this website
    block scripts
      script(src="/static/app.js")